@use "../abstracts/index" as *;

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: $font-family;
  font-weight: 400;
  line-height: 150%;
  @include media-laptop {
      @include font(400, calc(16 / 1440 * 100vw), 150%, none);
    }
  
}

h1 {
  @include font(300, 116px, 114%);
  font-family: $second-family;
  margin: 0;
  @include media-laptop {
      @include font(300, calc(116 / 1440 * 100vw), 114%);
    }
  
}

h2 {
  @include font(400, 32px, 125%);
  font-family: $second-family;
  margin: 0;
  @include media-laptop {
      @include font(400, calc(32 / 1440 * 100vw), 125%);
    }
}

h3, details {
  @include font(400, 20px, 140%, none);
  @include media-laptop {
      @include font(400, calc(20 / 1440 * 100vw), 140%, none);
    }
}

img {
  max-width: 100%;
}
