@use "../abstracts/index" as *;

button {
  cursor: pointer;
}

.hamburger {
  display: none;
  @include media-tablet {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    background-color: transparent;
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    padding: 0;
    &::before, &::after{
      content: "";
      display: block;
      width: 12px;
      height: 2px;
      background-color: $color-text;
    }
    &::after {
      width: 20px;
    }
}
}

.button {
  background-color: $color-background;
  color: $color-text;
  font-family: $second-family;
  text-transform: uppercase;
  white-space: nowrap;
  border: none;
  outline: none;
  padding: 1.8rem 2rem;
  &:hover {
    background-color: $color-hover;
    color: $color-background;
    @extend %transition
  }
}