@use 'constant' as *;

@mixin font ($weight, $size, $line-height, $text-transform: uppercase) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  text-transform: $text-transform;
}

@mixin columns ($width, $wrap: wrap) {
  display: flex;
  flex-wrap: $wrap;
  gap: 4rem;
  justify-content: space-between;
  >* {
    flex-basis: $width;
  }
  @include media-laptop {
    gap: calc(40 / 1440 * 100vw);
  }
}

@mixin media-laptop {
  @media screen and (max-width: $content-width) { @content; }
  }

@mixin media-tablet {
  @media screen and (max-width: $tablet-width) { @content; }
  }

@mixin media-mobile {
  @media screen and (max-width: $mobile-big-width) { @content; }
  }

@mixin media-smobile {
  @media screen and (max-width: $mobile-small-width) { @content; }
  }

@mixin hover-pointer-fine {
  @media (hover: hover) and (pointer: fine) { @content; }
}

@mixin conditional-hover {
  @media (hover: hover) and (pointer: fine) { 
      &:hover {
        transition: all .3s ease-out;
        color: $color-hover;
      }
   }
}


